.pageTitle{
    color: green
}
#name{
    background-color: green;
    width: 200px
}
#about{
    position: fixed;
    left: 800px;
    top: 20px;
}
#aboutBnt {
    height: 50px;
    width: 100px;
    font-size: 14pt;
    font-style: normal

}
#portfolio{
    position: fixed;
    left: 925px;
    top: 20px
}
#portfolioBtn{
    height: 50px;
    width: 100px;
    font-size: 14pt;
    font-style: normal

}
#contact {
    position: fixed;
    left: 1050px;
    top: 20px
}
#contactBtn {
    height: 50px;
    width: 100px;
    font-size: 14pt;
    font-style: normal
    
}
#prj1{
    position: relative;
    left: 10px;
}
#prj2{
    position: relative;
    left: 10px;
}
#prj3{
    position: relative;
    left: 10px;
}
#prj4{
    position: relative;
    left: 250px;
    bottom: 610px

}
#prj5{
    position: relative;
    left: 250px;
    bottom: 610px
}
input[type=submit]{
    font-size: 14pt;
    color: white; 
    background-color: green;  
}
#mystory {
    position: fixed;
    left: 260px;
    top: 150px
};